<!DOCTYPE html>
<html>
  <head>
    <title>Customers CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8"/>
  </head>
  <body>
    <h1>Listagem de Clientes</h1>
     <p>Clientes ja cadastrados no sistema.</p>
     <thead>
      <tr style = "background-color: #CCC;"
      <td style="width: 50%;">Name</td>
      <td style="width: 15%;">Age</td>
      <td style="width: 15%;">UF</td>
      td
     </thead>
  </body>
</html>
